{
    "extends": "airbnb",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "eol-last": 0,
        "linebreak-style": 0,
        "object-curly-newline": 0,
        "comma-dangle": [2, "always-multiline"],
        "jsx-a11y/label-has-for": [ 2, {
            "components": [ "Label" ],
            "required": {
                "some": [ "nesting", "id" ]
            },
            "allowChildren": false
        }],
        "no-unused-vars": 0,
        "import/no-unresolved": 0,
        "react/forbid-prop-types": 0,
        "react/prop-types": 0,
        "react/no-array-index-key": 0,
        "react/destructuring-assignment": [1, "always"],
        "no-confusing-arrow": 0
    }
}